.hero-section {
  text-align: center;
  padding: 4rem 2rem;
  color: rgb(0, 0, 0);
  margin: 1rem auto;
  max-width: 800px;
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

.hero-section p {
  font-size: 1.125rem;
  font-weight: 400;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}



.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.4rem;
  border: rgb(219, 219, 219) solid 2px;  
  border-radius: 1rem;
  max-width: 700px;
  margin: 1rem auto;
}

.input-wrapper>div {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}

.input-wrapper input,
.input-wrapper select {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
}

.input-wrapper input:focus,
.input-wrapper select:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
}

.input-wrapper button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-wrapper button:hover {
  background-color: #357ab7;
}


@media (min-width: 640px) {

  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .input-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .input-wrapper input,
  .input-wrapper select {
    flex: 1;
  }

  .input-wrapper button {
    white-space: nowrap;
  }
}
