.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #f8fbff, #e1ecf7);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.input {
  padding: 1%;
  margin-top: 2%;
  font-size: large;
  border-radius: 2%;
  width: 80%;
}
